@using Tsi.Template.ViewModels.Grh;
@using Tsi.Template.Helpers.grh
@using Microsoft.AspNetCore.Mvc.Rendering
@using Tsi.Template.Web.SelectedList

@model EmployeeViewModel

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <!-- select2-bootstrap4-theme -->
    <link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit Employee</h5>
            <form asp-controller="Employee" asp-action="Edit" method="post">

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.FirstName)
                    <input type="text" id="FirstName" name="FirstName" class="form-control" value="@Model.FirstName" />

                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.LastName)
                    <input type="text" id="LastName" name="LastName" class="form-control" value="@Model.LastName" />

                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Cin)
                    <input type="text" id="Cin" name="Cin" class="form-control" value="@Model.Cin" />

                    <span asp-validation-for="Cin" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.DepartementId)
                    @Html.DropDownListFor(x => x.DepartementId, SelectListItemHelper.GetDepartementList(), "   Select    Departement    "
                        , new { @id = "simpleSelect2", @class = "myclass" })

                    <span asp-validation-for="DepartementId" class="text-danger"></span>
                </div>




                <div class="form-group text-center">
                    <button type="submit" name="save" class="btn btn-primary col-md-3">
                        <i class="far fa-save"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    @section Scripts
{
        <script src="~/lib/select2/js/select2.full.min.js"></script>
        <script src="~/js/select2.js"></script>
    }