@using Tsi.Template.ViewModels.Catalog;
@model ProductViewModel

<div class="card"> 
    <div class="card-body">
        <h5 class="card-title">Create product</h5>
        <form asp-controller="Product" asp-action="Create" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Code)
                <input type="text" id="Code" name="Code" class="form-control" value="@Model.Code" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Libelle)
                <input type="text" id="Libelle" name="Libelle" class="form-control" value="@Model.Libelle" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.Price)
                <input type="text" id="Price" name="Price" class="form-control" value="@Model.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <button type="submit" name="save" class="btn btn-primary col-md-3">
                    <i class="far fa-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>